$foundation-white: #ffffff;
$foundation-black: #20293a;
$foundation-blue-100: #f3f8ff;
$foundation-blue-200: #b6d5fe;
$foundation-blue-300: #7bb3f7;
$foundation-blue-400: #4992e9;
$foundation-blue-500: #1e71d4;
$foundation-blue-600: #0e5ebd;
$foundation-blue-700: #024ba2;
$foundation-blue-800: #003882;
$foundation-blue-900: #002659;
$foundation-night-100: #f6f8fa;
$foundation-night-200: #ced4df;
$foundation-night-300: #a6b1c2;
$foundation-night-400: #808da4;
$foundation-night-500: #5c6a85;
$foundation-night-600: #4c5974;
$foundation-night-700: #3c4961;
$foundation-night-800: #2e394e;
$foundation-night-900: #20293a;
$foundation-green-100: #f0f8f4;
$foundation-green-300: #78bf9a;
$foundation-green-500: #008040;
$foundation-green-700: #00632d;
$foundation-green-900: #003d1a;
$foundation-yellow-100: #f9f6f0;
$foundation-yellow-300: #cab27b;
$foundation-yellow-500: #916707;
$foundation-yellow-700: #714f00;
$foundation-yellow-900: #462f00;
$foundation-red-100: #fef1f1;
$foundation-red-300: #ed8686;
$foundation-red-500: #d52424;
$foundation-red-700: #9b1313;
$foundation-red-900: #5c0707;
$foundation-purple-200: #e8daff;
$foundation-purple-400: #be95ff;
$foundation-purple-600: #8a3ffc;
$foundation-purple-800: #491d8b;
$foundation-teal-200: #9ef0f0;
$foundation-teal-400: #08bdba;
$foundation-teal-600: #007d79;
$foundation-teal-800: #004144;
$foundation-magenta-200: #ffd6e8;
$foundation-magenta-400: #ff7eb6;
$foundation-magenta-600: #d02670;
$foundation-magenta-800: #740937;
$foundation-cyan-200: #bae6ff;
$foundation-cyan-400: #33b1ff;
$foundation-cyan-600: #0072c3;
$foundation-cyan-800: #003a6d;
$foundation-orange-200: #ffd9be;
$foundation-orange-400: #ff832b;
$foundation-orange-600: #ba4e00;
$foundation-orange-800: #5e2900;
$component-card-root-background: #ffffff;
$component-card-root-box-shadow: 0px 6px 8px rgba(32, 41, 58, 0.08),
  0px 4px 10px rgba(32, 41, 58, 0.08), 0px 3px 12px rgba(32, 41, 58, 0.12);
$component-card-root-border-radius: 6px;
$component-card-root-border: 1px solid #ced4df;
$component-code-block-root-border: 1px solid #ced4df;
$component-code-block-root-border-radius: 6px;
$component-code-block-root-background: #f6f8fa;
$component-code-block-code-padding: 16px;
$component-code-block-code-color: #20293a;
$component-control-root-color: #20293a;
$component-control-enabled-color: #1e71d4;
$component-control-disabled-color: #ced4df;
$component-control-hover-color: #024ba2;
$component-control-focus-outline: 2px solid #20293a;
$component-control-focus-outline-offset: 2px;
$component-dialog-root-background: #ffffff;
$component-dialog-body-color: #5c6a85;
$component-menu-item-root-color: #3c4961;
$component-menu-item-root-color-disabled: #ced4df;
$component-menu-item-root-background: #ffffff;
$component-menu-item-root-background-hover: #f6f8fa;
$component-menu-item-root-background-selected: #f3f8ff;
$component-menu-item-helper-text-color: #5c6a85;
$component-table-header-color: #5c6a85;
$component-table-row-background-hover: #f6f8fa;
$component-table-row-background-selected: #f3f8ff;
$component-table-row-divider-hover: #20293a;
$component-table-row-divider-selected: #1e71d4;
$component-table-no-rows-background: #f6f8fa;
$component-table-no-rows-color: #3c4961;
$component-table-no-rows-height: 48px;
$component-tabs-arrow-color-hover: #a6b1c2;
$elevation-shadow-100: 0px 4px 5px rgba(32, 41, 58, 0.08),
  0px 1px 10px rgba(32, 41, 58, 0.08), 0px 2px 4px rgba(32, 41, 58, 0.14);
$elevation-shadow-200: 0px 6px 8px rgba(32, 41, 58, 0.08),
  0px 4px 10px rgba(32, 41, 58, 0.08), 0px 3px 12px rgba(32, 41, 58, 0.12);
$elevation-shadow-300: 0px 8px 10px rgba(32, 41, 58, 0.08),
  0px 4px 14px rgba(32, 41, 58, 0.08), 0px 6px 16px rgba(32, 41, 58, 0.12);
$elevation-shadow-500: 0px 12px 17px rgba(32, 41, 58, 0.08),
  0px 5px 22px 3px rgba(32, 41, 58, 0.08), 0px 7px 28px rgba(32, 41, 58, 0.14);
$elevation-shadow-700: 0px 18px 30px rgba(32, 41, 58, 0.08),
  0px 8px 34px 3px rgba(32, 41, 58, 0.08), 0px 10px 40px rgba(32, 41, 58, 0.14);
$size-border-radius-3: 3px;
$size-border-radius-6: 6px;
$size-border-radius-7: 7px;
$size-border-radius-36: 36px;
$size-border-width-sm: 1px;
$size-border-width-md: 2px;
$size-border-width-lg: 3px;
$size-breakpoint-xs: 0px;
$size-breakpoint-sm: 600px;
$size-breakpoint-md: 960px;
$size-breakpoint-lg: 1280px;
$size-breakpoint-xl: 1920px;
$size-font-0: 12px;
$size-font-1: 14px;
$size-font-2: 16px;
$size-font-3: 20px;
$size-font-4: 24px;
$size-font-5: 28px;
$size-font-6: 34px;
$size-font-7: 40px;
$size-font-8: 48px;
$size-font-letter-spacing-0: 0px;
$size-font-letter-spacing-1: -3.5px;
$size-font-letter-spacing-2: -4px;
$size-font-paragraph-spacing-0: 0px;
$spacing-spaceq: 2px;
$spacing-spaceh: 4px;
$spacing-space01: 8px;
$spacing-space01h: 12px;
$spacing-space02: 16px;
$spacing-space02h: 20px;
$spacing-space03: 24px;
$spacing-space04: 32px;
$spacing-space05: 40px;
$spacing-space06: 48px;
$spacing-space07: 56px;
$spacing-space08: 64px;
$spacing-space09: 72px;
$spacing-space10: 80px;
$spacing-space15: 120px;
$color-background-primary: #ffffff;
$color-background-secondary: #f6f8fa;
$color-background-failure: #fef1f1;
$color-background-caution: #f9f6f0;
$color-background-success: #f0f8f4;
$color-background-info: #f3f8ff;
$color-border-primary: #a6b1c2;
$color-border-secondary: #ced4df;
$color-border-hover: #5c6a85;
$color-border-focus: #20293a;
$color-border-disabled: #ced4df;
$color-border-success: #008040;
$color-border-caution: #916707;
$color-border-failure: #d52424;
$color-data-purple: #8a3ffc;
$color-data-teal: #007d79;
$color-data-magenta: #d02670;
$color-data-cyan: #0072c3;
$color-data-orange: #ba4e00;
$color-fill-primary: #1e71d4;
$color-fill-secondary: #5c6a85;
$color-fill-hover: #024ba2;
$color-fill-disabled: #f6f8fa;
$color-fill-failure: #d52424;
$color-fill-caution: #916707;
$color-fill-success: #008040;
$color-fill-data-purple: #8a3ffc;
$color-fill-data-teal: #007d79;
$color-fill-data-magenta: #d02670;
$color-fill-data-cyan: #0072c3;
$color-fill-data-orange: #ba4e00;
$color-text-primary: #20293a;
$color-text-secondary: #5c6a85;
$color-text-link: #1e71d4;
$color-text-link-hover: #024ba2;
$color-text-disabled: #a6b1c2;
$color-text-inverse: #ffffff;
$color-text-success: #008040;
$color-text-caution: #916707;
$color-text-failure: #d52424;
