$mdc-theme-primary: #1e71d4;
$mdc-theme-on-primary: #442c2e;
$mdc-theme-secondary: #5c6a85;
$mdc-theme-on-secondary: #442c2e;
$mdc-theme-surface: #f6f8fa;
$mdc-theme-on-surface: #442c2e;
$mdc-theme-background: #ffffff;
$mdc-theme-on-background: #442c2e;