html,
body {
  height: 100%;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

.content {
  padding: 24px;
}

.section {
  & > button {
    margin: 8px;
  }
  & > label {
    margin-bottom: 16px;
  }
  & > label + .mdc-text-field-helper-line {
    margin-top: -16px;
    margin-bottom: 16px;
  }
  & > .helios-card {
    margin-bottom: 16px;
  }
}
