@use "./helios";

@use "@material/theme" with (
  $primary: helios.$color-fill-primary,
  $secondary: helios.$color-fill-secondary,
  $background: helios.$color-background-primary,
  $surface: helios.$color-background-secondary,
  $error: helios.$color-fill-failure,
  $on-primary: helios.$color-text-primary,
  $on-secondary: helios.$color-text-primary,
  $on-surface: helios.$color-text-primary,
  $on-error: helios.$color-text-primary
);
